* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Afacad", sans-serif;
}

:root {
    --bg-color: #111111;
    --text-color: #36ba01;
    --main-color: #333333;
    --other-color: #8e8e8e;
    --second-color: #1d1d1d;

    --h1-font: 6rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 25px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.6s ease;
}
.logo img {
    width: 100%;
    height: auto;
}
.navbar {
    display: flex;
}
.navbar a {
    display: inline-block;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    margin: 0 35px;
    padding: 4px 0;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: all 0.6s ease;
}
.navbar a:hover {
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-right i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: var(--other-color);
    margin: 0 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: all.5s ease;
}
.nav-right i:hover {
    background: #111111;
    color: var(--text-color);
    transform: scale(1.5);
}
#menu-icon {
    font-size: 30px;
    height: 45px;
    width: 45px;
    color: var(--other-color);
    background: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 10px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 0 15%;
}
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../assets/bg.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 8px;
}
.hero-img img {
    width: 750px;
    height: 500px;
    object-fit: contain;
    
}
.hero-text h1 {
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 600;
    text-transform: uppercase;
}
.hero-text h2, h5 {
    font-size: 1.8rem;
    color: var(--other-color);
    line-height: 1.1;
    margin-bottom: 18px;
    text-transform: capitalize;
}
.hero-text p {
    width: 100%;
    max-width: 500px;
    font-size: var(--p-font);
    color: var(--other-color);
    line-height: 18px;
    margin-bottom: 20px;
    text-align: justify;
}
.btn {
    display: inline-block;
    padding: 10px 22px;
    color: #fff;
    background: var(--main-color);
    font-size: 18px;
    border-radius: 18px;
    margin-right: 20px;
    transition: all .5s ease;
}
.btn:hover {
    background: blue;
    color: var(--text-color);
    transform: scale(1.1);
}
.btn2 {
    display: inline-block;
    padding: 10px 22px;
    color: #fff;
    background: var(--main-color);
    font-size: 18px;
    border-radius: 18px;
    margin-right: 20px;
    transition: all .5s ease;
}
.btn2:hover {
    background: red;
    color: var(--text-color);
    transform: scale(1.1);
}

.content {
    position: absolute;
    top: 53%;
    left: 9%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.content li img {
    height: auto;
    max-width: 100%;
}
.box {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    border: 1px solid var(--main-color);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.box:hover{
    transform: scale(1.1);
}